*{
    text-decoration: none;
}
a:visited{
    color: #000;
}

body {
    margin: 0
}


header{
    height: 50px;
    /* background: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 100vw;
    border-bottom: 1px solid grey;

}

#headerNavContainer{
    display: flex;
    max-width: 1050px;
    
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
#headerLogo{
    display: flex;
    flex-direction: row;
}

#logoDrawer {
    cursor: pointer;
}
 #logoDrawer:hover .drawerContainer{
    visibility: visible;
}

#headerLogo .drawerContainer{
    position: absolute;
    z-index: 100;
    background-color: #fff;
    top: 35px;
    visibility:hidden
}
#headerLogo .drawerContainer ul{
    list-style: none;
}
#headerLogo .drawerContainer ul li {
    margin-bottom: 5px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;

}

footer{
    height: 35vh;
}

#headerNav{
    
    padding-left: 0;
    display: flex;
    justify-content: center;
}

#headerNav #headerNavList{
    list-style: none;
    padding-left: 0;
    
}
#headerNavList li{

    float: left;
    padding-inline: 10px;
    margin-inline: 5px;
    font-size: 14px;
    font-weight: 570;
   
}

#headerAuth{
    display: flex;
    align-items: center;

}


.slide_wrapper{
	position: relative;
	width: 100vw;
	margin: 0 auto;
	height: 40vh;
	overflow:hidden;
	background-color: antiquewhite;
}
.slides{
	position: absolute;
	left:0; 
    top:0;	
    list-style: none;
}
.slides.animated{
	transition: 0.5s ease-out;
}
.slides li{
	width: 200px;
	height: 200px;
	background:#ccc;
	float:left;
}
.slides li:not(:last-child){	
	margin-right: 30px;
}
.controls{
	text-align: center;
	margin-top: 50px;
}

.controls span{
	background:#333;
	color: #fff;
	padding:10px 20px;
	margin:0 10px;
}

/* .slide_wrapper{
	position: relative;
	width: 100vw;
	margin: 0 auto;
	height: 40vh;
	overflow:hidden;
	background-color: antiquewhite;
    
}

  .slideContainer{
   display: flex;
    flex-wrap: nowrap;
   overflow: hidden;
   position: relative;
   margin-top: 30px;
   height: 65vh;
   width: 100%;
   background-color: grey;
   align-items: center;
   flex-direction: row;
   display: flex;
   padding-left: 0;
   
  }
  .slide-item{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 0;

    width:80vw;
    margin-inline: 2vw;
    flex-shrink: 0;
    
    transition: left 0.15s;
    float: left;
    
  }
  .iOne{
    background-color: red;
    
    height: 30vh;
  }
  .iTwo{
    background-color: #184CED;
    
    height: 30vh;
  }
  .iThree{
    background-color: green;
    
    height: 30vh;
  }
  .iFour{
    background-color: #fff;
    
    height: 30vh;
  }
  .iFour{
    background-color: #000;
    
    height: 30vh;
  } */

  .careerInsight{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90vw;
      
  }


  .categoryList{
      list-style: none;
  }
  .categorItem{
      float: left;
      padding: 3px 7px;
      border: 1px solid lightslategray;
      border-radius: 20px;
      margin-inline: 7px;
      color: grey;
  }

  .insightWrapperContainer{
      width: 100%;
      display: flex;
      background-color: aliceblue;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      
  }

@media (min-width: 768px) and (max-width: 991px){
    .insightWrapperContainer{
        max-width: 1060px;
    }
    .insightWrapperItem{
        width: calc((100% - 40px)/3);
    }
}

  .insightWrapperItem{
    position: relative;
    background-color: red;
    margin: auto;
  }

@media screen and (max-width: 767px){
    .insightWrapperItem{
        width: calc((100% - 20px)/2);
      }
}

.insightWrapperItem .insightImgBox{
    overflow: hidden;
    
}

.insightImgBox .insightImg{
    object-fit:contain;
    width: 100%;
    height: 100%;
    flex: 6;
}

.insightWrapperItem .insightTxtBox{
    flex: 4;
    }





.aiContainer{
    width: 90vw;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aiContainer .aiLogoContainer {
    display: flex;
    padding-block: 60px;
}


#companyTypeTest {
    width: 90vw;

    height: 46px;
    background-color: #184CED;
    margin-top: 30px;
}

.positionRecc div{
    display: flex; 
    align-items: center;
}

#reccStartBtn #reccStartBtnTxt{
    padding-inline: 13px;
    padding-block: 9px;
}

#matchUpBtnContainer {
    width: 90vw;
    height: 42px;
    background-color: red; 
    padding-block: 25px;
}

.middleTwoBtnContainer{
    list-style: none;
    padding-left: 0;
    
    display: flex;
    
    
}

.middleTwoBtnContainer li{
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.middleTwoBtnContainer #mtcMyPrf{
    background-color: cornflowerblue;
}

.middleTwoBtnContainer #mtcMatchUp{
    background-color: indianred;
}

/* 회사추천 컨테이너 */
.recommendationContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendationContainer .reccTitle{
    margin: auto;
    text-align: center;
    
}
.reccTitle div {
    font-size: 23px;
    margin-bottom: 7px;
}

.reccTitle div a{
    font-weight: bold;
    
    
}
.reccTitle .moveToPosition{
    color: grey;
    
}


.positionReccResponsiveContainer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 90vw;
    margin-top: 30px;
    
}

.positionReccItemContainer{
    margin-inline: 15px;
    flex: 1;
    
    
}
.positionReccItemContainer .positionReccItemImg{
    width: 100%;
}

.positionReccItemContainer .positionReccItemInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.positionReccItemInfo .positionReccItemInfoLeft{
    display: flex;
}

.positionReccItemInfo .followBtn{
    background-color: #fff;
    padding: 7px;
    padding-inline: 11px;
    border-radius: 17px;
    border: 1px solid lightgrey;
    margin-right: 3px;
    color: #184CED;
}

@media screen and (max-width: 700px) {
    .positionReccResponsiveContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    }
    .positionReccItemContainer{
        width: 100%;
        height: 30vh;
        background-color: aqua;
        margin-inline: 30px;
        margin-block: 30px;
    }
}




